<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col"></div>
    <div class="col-12 col-sm-12 col-lg-8">
        <div class="card shadow border-0">
            <div class="card-body">
                <h1 class="text-center">Edit Product</h1>
                <!-- enctype is used to take multiple files as input  -->
                <form action="/products/<%=product._id%>?_method=PUT" method="POST" novalidate class="validated-form"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="title">Product name</label>
                        <input class="form-control" type="text" name="product[title]" value="<%=product.title%>"
                            id="title" placeholder="product name" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a product name.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="price">Price</label>
                        <div class="input-group">
                            <span class="input-group-text" id="price-label">$</span>
                            <input type="text" class="form-control" id="price" placeholder="price" aria-label="price"
                                aria-describedby="price-label" name="product[price]" value="<%=product.price%>"
                                required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a product price.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="discount">Discount</label>
                        <div class="input-group">
                            <span class="input-group-text" id="discount-label">%</span>
                            <input type="text" class="form-control" id="discount" placeholder="discount"
                                aria-label="discount" aria-describedby="discount-label" name="product[discount]"
                                value="<%=product.discount%>" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide a Discount percentage.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" name="product[description]" id="description" rows="3"
                            required><%=product.description%></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a description of your product.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="image">Add Images</label>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" name="image" id="image" multiple>
                            <div class="invalid-feedback">
                                Please upload an image of your product.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <h6> Delete Images </h6>
                        <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
                            <% product.images.forEach((image, i) => { %>
                            <div class="col">
                                <div class="card">
                                    <img class="card-img" src="<%= image.url %>" alt="">
                                    <div class="card-img-overlay text-end pt-1 pe-2">
                                        <label class="visually-hidden" for="image-<%= i %>">Delete Image</label>
                                        <input class="form-check-input" type="checkbox" name="deleteImages[]"
                                            value="<%= image.filename %>" id="image-<%= i %>">
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                    <div class="d-grid gap-2 mb-2">
                        <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                </form>
                <a href="/products">Go Back</a>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>